/* Calculation Page */
#calc {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: var(--textColor);
  font-size: 1.25rem;
}
#calc form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

#calc form > div {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

#calc form > div > *:first-child {
  width: 5em;
  flex-shrink: 0;
}

.specialSelect {
  position: relative;
}

.specialSelect select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  border-radius: 0;
  background-color: var(--inputBg);
  border: none;
  color: inherit;
  height: 100%;
  width: 100%;
  padding: 0.75em 5em 0.75em 1em;
}

.specialSelect svg {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.range {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 0.5em;
  background: linear-gradient(
    to right,
    hsl(174, 77%, 80%) 0%,
    hsl(174, 77%, 80%) 50%,
    var(--inputBg) 50% 100%
  );
  outline: none;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2em;
  height: 2em;
  background-color: var(--rangeColor);
  border-radius: 50%;
}

.range:focus #myrange::-webkit-slider-thumb:focus {
  outline: 1px dotted #000;
}

.range:hover {
  cursor: grab;
}

.range:active {
  cursor: grabbing;
}

#calc .w-h {
  background: var(--inputBg);
  padding: 0 0.75em 0 0;
  display: flex;
  font-size: 0.8em;
  width: 6em;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

#calc form input[type="number"] {
  border: 0;
  text-align: center;
  color: var(--textColor);
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  font-size: 1em;
  width: 100%;
  padding: 0.75em 0 0.75em 0.75em;
}

#calc form button {
  width: fit-content;
  padding: 1em 2em;
  background: var(--primaryColor);
  border: 0;
  color: var(--activeNavText);
  cursor: pointer;
  font-size: 0.75em;
}

#score {
  display: flex;
  gap: 1em;
  align-items: flex-start;
}

#score.hidden {
  display: none;
}

#scoreBoard {
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
  flex-shrink: 0;
  font-size: 1.2em;
  width: 11rem;
}

#scoreBoard * {
  color: #fff !important;
}

#scoreBoard.underWeight {
  background: var(--underWeight);
}

#scoreBoard.healthy {
  background: var(--healthy);
}

#scoreBoard.overWeight {
  background: var(--overWeight);
}

#scoreBoard.obese {
  background: var(--obese);
}

.score {
  font-size: 1.5em;
  font-weight: 700;
}

.scoreTitle {
  font-weight: 700;
}

#scoreDesc {
  background: var(--asideBg);
  width: 100%;
  padding: 1.2em;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.7em;
  align-self: stretch;
}

#scoreDesc h2 {
  font-size: 1.2em;
}

#scoreDescContent {
  font-size: 0.9em;
  line-height: 1.4;
}

.source {
  padding: 0.75em 0 0;
}

#scoreDesc a {
  color: var(--linkColor);
  font-size: 0.8em;
}

@media screen and (max-width: 700px) {
  #calc {
    gap: 3rem;
  }

  #calc form > div {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  #calc form label {
    order: 1;
  }

  #calc form .w-h,
  #calc .specialSelect {
    order: 2;
  }

  #calc .range {
    order: 3;
  }

  #score {
    flex-direction: column;
  }

  #scoreBoard {
    width: 100%;
    aspect-ratio: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
  }
}

/* What Is BMI */

.pageHeader {
  padding: 0 0 1.2em;
  color: var(--textColor);
}

.pageContent {
  line-height: 1.3;
  color: var(--textColor);
}

.pageContent ul {
  padding-left: 1em;
}

.whatLink {
  color: var(--linkColor);
}

/* Records */
#recordActions {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  color: var(--textColor);
  gap: 0.5rem;
}

#recordActions .specialSelect {
  flex-shrink: 1;
  flex-grow: 1;
}

#recordActions .specialSelect select {
  padding-right: 1em;
}

.recordButton {
  padding: 1em 2em;
  background: var(--primaryColor);
  border: 0;
  color: var(--activeNavText);
  cursor: pointer;
  font-size: 0.9em;
  white-space: nowrap;
}

#recordContainer {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  gap: 1px;
}

#recordContainer.newest {
  flex-direction: column-reverse;
}
#recordContainer.oldest {
  flex-direction: column;
}

.record {
  width: 100%;
}

.recordHeader {
  width: 100%;
  padding: 1rem;
  background: var(--asideBg);
  color: var(--textColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recordHeader svg {
  transition: 0.15s ease-in;
}

.recordHeader.openRecord svg {
  transform: rotate(180deg);
}

.recordTitle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.recordScore {
  font-size: 1.75rem;
  font-weight: 700;
}

.recordScore.healthy {
  color: var(--healthy);
}

.recordScore.underweight {
  color: var(--underWeight);
}
.recordScore.overweight {
  color: var(--overWeight);
}
.recordScore.obese {
  color: var(--obese);
}

.recordDate {
  font-size: 0.85rem;
  font-weight: 600;
}

.recordBody {
  background: var(--inputBg);
  color: var(--textColor);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.openRecord + .recordBody {
  max-height: 600px;
}

.recordLine {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
}

.recordLine:first-child {
  margin-top: 0.5rem;
}

.lineHeader {
  font-weight: 300;
}

.lineContent {
  font-weight: 500;
  text-transform: capitalize;
}

.deleteButton {
  width: 100%;
  background: var(--primaryColor);
  padding: 1rem;
  text-align: center;
  color: #fff;
  margin-top: 0.5rem;
  font-size: 0.9em;
}

@media screen and (min-width: 700px) {
  #recordActions{
    justify-content: flex-start;
  }

  #recordActions .specialSelect {
    flex-shrink: 0;
    flex-grow: 0;
  }

  #recordActions .specialSelect select {
    padding-right: 5em;
  }

  .recordBody{
    display: flex;
    flex-wrap: wrap;
    row-gap: .25rem;
    align-items: center;
  }

  .recordLine{
    width: 50%;
    flex-shrink: 0;
  }

  .recordLine:nth-child(2){
    margin-top:.5rem;
  }

  .recordLine:nth-child(3){
    margin:0 0 .5rem 0;
  }

  .deleteButton{
    width: fit-content;
    padding: 1em 2em;
    margin:0 1rem .5rem auto;
  }
}
